@use './partials/variables' as *;
@import "~bootstrap/scss/bootstrap";


.container{
    background-color: white;
  
    nav{
      display: flex;
      align-items: center;
  
      width: 1200px;
      height: 120px;
      margin: 0 auto;
  
      img{
        height: 80px;
        width: auto;
        cursor: pointer;
      }
  
      ul{
        display: flex;
        padding: 0;
        margin: 0;
  
        li{
          list-style-type: none;
          font-weight: bold;
          text-transform: uppercase;
          font-size: 12px;
          cursor: pointer;
          color: black;
          min-height: 120px;
          border-bottom: 3px transparent solid;
          padding: 0 10px;
  
          
    
          &:hover{
            color: $primaryColor;
            border-color: $primaryColor;
            transition: .2s ease-in-out;
          }
          &:not(:hover){
            color: black;
            border-color: transparent;
            transition: .2s ease-in-out;
          }
        }
  
      }
  
  
    }
  
}

.comic-list{
    width: 1000px;
}

.comic {
    width: calc(100% / 6);
    height: 300px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    cursor: pointer;

    transition: box-shadow 0.3s ease-in-out;

    &:hover{
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
    }
    
    img {
        width: 100%;
        aspect-ratio: 1 / 1;
        object-fit: cover;
        object-position: top;
    }

    h4{
        text-transform: uppercase;
        padding: 10px 0;
        font-size: .9em;
    }


}
